:root {
    --ama-btn-line-height: 1.75;
    --ama-btn-font-size: var(--sl-text-lg);
    --ama-btn-font-weight: 400;
    --ama-btn-font-family: var(--sl-font);
    --ama-btn-min-height: 2.75rem;
    --ama-btn-border-radius: .8375rem;
    --ama-btn-padding-y: .6375rem;
    --ama-btn-padding-x: 1.325rem;
    --ama-btn-icon-stroke-width: 2.25;
    --ama-btn-background: rgba(0, 0, 0, .15);
    --ama-btn-background-hover: rgba(2, 2, 2, .325);
    --ama-btn-background-active: rgba(0, 0, 0, .0725);
    --ama-btn-foreground: var(--ama-cream);
    --ama-btn-gap: .4375rem;

    --ama-inner-glow-color: rgba(0, 0, 0, .11);
    --ama-inner-glow-color-hover: rgba(20, 20, 20, .21);
    --ama-inner-glow-color-active: rgba(0, 0, 0, .11);
}

.sl-link-button {

    align-items: center;
    user-select: none;
    gap: var(--ama-btn-gap);
    -webkit-tap-highlight-color: transparent;
    outline-offset: 0.25rem;
    min-height: var(--ama-btn-min-height);
    border-radius: var(--ama-btn-border-radius);
    border: none;
    background-color: none;
    color: var(--ama-btn-foreground);
    padding: var(--ama-btn-padding-y) var(--ama-btn-padding-x);
    font-weight: 500;
    letter-spacing: 1px;
    font-family: var(--ama-btn-font-family);
    line-height: var(--ama-btn-line-height);
    font-size: var(--ama-btn-font-size);
    text-decoration: none;
    transition: background-color var(--ama-transition-duration) var(--ama-transition-timing), box-shadow var(--ama-transition-duration) var(--ama-transition-timing), color var(--ama-transition-duration) var(--ama-transition-timing);

    svg {
        font-size: var(--sl-text-3xl);
    }

    &.secondary {
        text-decoration: underline;
        text-decoration-color: var(--ama-coral-light);
        text-decoration-skip-ink: auto;
        text-underline-offset: .325rem;
        --ama-btn-font-size: var(--sl-text-base);
    }

    &.primary {
        background-color: var(--ama-btn-background);
        border: none;
        box-shadow: inset 0 0 2px var(--ama-inner-glow-color);
    }

}

@media (hover: hover) and (pointer: fine) {
    .sl-link-button:hover {
        --ama-btn-foreground: var(--ama-coral-light);
    }

    .sl-link-button.primary:hover {
        background-color: var(--ama-btn-background-hover);
        box-shadow: inset 0 0 2px var(--ama-inner-glow-color-hover);
    }

}