:root {
    --card-color:var(--ama-graphite);
    --card-background:var(--ama-coral-light);
}

:root[data-theme="dark"] {
   --shadow-color: var(--shadow-color_on-graphite); 
   --card-color:var(--ama-coral-light);
   --card-background:var(--ama-graphite);
}

[data-has-hero] .main-frame {
    background-image: var(--ama-background-gradient);
    min-height: 100vh;

    --sl-color-text: var(--ama-cream);
    color: var(--sl-color-text);

    h1,
    h2,
    h3,
    h4,
    .tagline {
        color: var(--sl-color-text);
    }

    p {
        font-weight:300;
    }

    .tagline {
        --sl-line-height: 1.5;
        line-height: var(--sl-line-height);
        font-weight:300;
    }

    .hero {
        min-height: calc(100vh - 8rem);
    }

    .hero img {
        opacity: .33;
    }

    .landing-feature-grid, .sl-heading-wrapper.level-h2 {
        margin-top:3rem;
    }

    .playground {
        margin-top:1.5rem;
    }

    .landing-feature-grid__card {
        background-color: var(--card-background);
        box-shadow: var(--shadow-elevation-medium);
        padding: 1.725rem 1.725rem;
        color: var(--card-color);
        border-radius: 1.5rem;
        margin:0;
        position: relative;
        transition:box-shadow var(--ama-transition-duration) var(--ama-transition-timing);
        &:after {
            content: '';
            position: absolute;
            top:.325rem;
            left:.325rem;
            right:.325rem;
            bottom:.325rem;
            border-radius: calc(1.5rem - .325rem);
            border: .325rem solid var(--ama-deep-blue);
            pointer-events: none;
        }

        p {
            font-weight:400;
        }

        .landing-feature-grid__title {
            margin-top:0;
            color: inherit;
            font-weight: 700;
        }
    }

    .landing-feature-grid__grid {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
    }


@media (hover: hover) and (pointer: fine) {
    .landing-feature-grid__card:hover {
         box-shadow: var(--shadow-elevation-high);
    }

    

}
}

