:root {
  --shadow-color_on-deep-blue: 226deg 100% 18%;
  --shadow-color_on-graphite: 0deg 0% 3%;
  --shadow-color: var(--shadow-color_on-deep-blue);
  --shadow-elevation-low:
    -0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.32),
    -0.3px 0.6px 0.8px -1.2px hsl(var(--shadow-color) / 0.33),
    -0.8px 1.3px 1.7px -2.4px hsl(var(--shadow-color) / 0.33);
  --shadow-elevation-medium:
    -0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.27),
    -0.5px 0.9px 1.2px -0.6px hsl(var(--shadow-color) / 0.27),
    -1px 1.7px 2.2px -1.2px hsl(var(--shadow-color) / 0.28),
    -2px 3.5px 4.6px -1.8px hsl(var(--shadow-color) / 0.28),
    -3.9px 6.6px 8.7px -2.4px hsl(var(--shadow-color) / 0.28);
  --shadow-elevation-high:
    -0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.25),
    -0.9px 1.6px 2.1px -0.3px hsl(var(--shadow-color) / 0.25),
    -1.7px 2.8px 3.7px -0.5px hsl(var(--shadow-color) / 0.25),
    -2.5px 4.3px 5.6px -0.8px hsl(var(--shadow-color) / 0.26),
    -3.7px 6.2px 8.2px -1.1px hsl(var(--shadow-color) / 0.26),
    -5.3px 8.9px 11.7px -1.4px hsl(var(--shadow-color) / 0.26),
    -7.5px 12.6px 16.6px -1.6px hsl(var(--shadow-color) / 0.26),
    -10.4px 17.6px 23.2px -1.9px hsl(var(--shadow-color) / 0.26),
    -14.3px 24.2px 31.8px -2.2px hsl(var(--shadow-color) / 0.26),
    -19.2px 32.6px 42.8px -2.4px hsl(var(--shadow-color) / 0.26);
}