.tooltip {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    will-change: transform;
    opacity: 0;
    pointer-events: none;
    transition: all var(--microtip-transition-duration, 0.18s) var(--microtip-transition-easing,
            ease-in-out) var(--microtip-transition-delay, 0s);
    position: absolute;
    box-sizing: border-box;
    z-index: 10;
    transform-origin: top;
    background: rgba(17, 17, 17, 0.9);
    border-radius: 4px;
    color: #ffffff;
    content: attr(aria-label);
    font-size: var(--microtip-font-size, 13px);
    font-weight: var(--microtip-font-weight, normal);
    padding: 0.5em 1em;
    white-space: nowrap;
    box-sizing: content-box;

    &.automagic-tooltip-open {
        opacity: 1;
    }

    &:before {
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform;
        pointer-events: none;
        transition: all var(--microtip-transition-duration, .18s) var(--microtip-transition-easing, ease-in-out) var(--microtip-transition-delay, 0s);
        position: absolute;
        box-sizing: border-box;
        z-index: 10;
        transform-origin: top;
        background-size: 100% auto !important;
        content: "";
    }

    &[data-automagica11y-tooltip-placement="right"] {
        &.automagic-tooltip-open {
            transform: translate3d(-6px, 0, 0);
        }

        transform-origin: right;

        &:before {
            bottom: auto;
            right: 0%;
            top: 50%;
            transform: translate3d(-10px, -50%, 0);
            background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
            height: 18px;
            width: 6px;
            margin-left: 5px;
        }
    }

    &[data-automagica11y-tooltip-placement="left"] {
        &.automagic-tooltip-open {
            transform: translate3d(-100%, 0, 0);
        }

        transform-origin: left;

        &:before {
            bottom: auto;
            right: 0%;
            top: 50%;
            transform: translate3d(10px, -50%, 0);
 background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
            height: 18px;
            width: 6px;
            margin-right: 5px;
        }
    }
}