:root {
    --ama-a11y-line-height-modifier: 1;
    --ama-a11y-spacing-modifier: 1;
    --ama-a11y-transition-duration-modifier: 1;
}


html[data-a11y-font-size='default'] {
    --ama-a11y-font-size-2xs-modifier: 1.2;
    --ama-a11y-font-size-xs-modifier: 1.25;
    --ama-a11y-font-size-sm-modifier: 1.15;
    --ama-a11y-font-size-md-modifier: 1.15;
    --ama-a11y-font-size-lg-modifier: 1.125;
    --ama-a11y-font-size-xl-modifier: 1.1;
    --ama-a11y-font-size-2xl-modifier: 1.1;
    --ama-a11y-font-size-3xl-modifier: 1.05;

    --ama-a11y-line-height-modifier: 1.075;
    --ama-a11y-spacing-modifier: 1.125;
}

html[data-a11y-font-size='larger'] {
    --ama-a11y-font-size-2xs-modifier: 1.9;
    --ama-a11y-font-size-xs-modifier: 1.85;
    --ama-a11y-font-size-sm-modifier: 1.8;
    --ama-a11y-font-size-md-modifier: 1.8;
    --ama-a11y-font-size-lg-modifier: 1.65;
    --ama-a11y-font-size-xl-modifier: 1.5;
    --ama-a11y-font-size-2xl-modifier: 1.35;
    --ama-a11y-font-size-3xl-modifier: 1.3;

    --ama-a11y-line-height-modifier: 1.125;
    --ama-a11y-spacing-modifier: 1.25;
}

html[data-a11y-reduced-motion="true"] {
    --ama-a11y-transition-duration-modifier: 0;
}